body {
    line-height: 1.6;
}
header {
    background-color: rgb(0, 115, 255);
    color: white;
    padding: 1rem;
}
.topic{
    text-align: center;
}
nav {
    display: none;
}
.links{
    list-style: none;
}
.links{
    color: white;
    text-decoration: none;
}
.images{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}
.images img{
    width: 100%;
    aspect-ratio: 1 /1;
}
footer{
    text-align: center;
}
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
    color: black;
    background-color: white;
    border: none;
}
@media (min-width: 600px){
    nav {
        display: block;
    }
    .links{
        margin-top: 1rem;
    }
    .images{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 900px){
    .images{
        grid-template-columns: 1fr 1fr 1fr;
    }
    dialog img {
        width: 60%;
        margin: 15vh auto;
    }
    .close-viewer {
        position: absolute;
        right: 15vh;
    }
}