body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    background-color: white;
    color: white;
    padding: 1rem;
    text-align: center;
}
h1, footer{
    color: black;
}
.main-nav {
    list-style: none;
    padding: 0;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: #b30059;
    text-decoration: none;
}
#book-list {
    padding: 0 2rem;
}
.books {
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
}
.books h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.books p {
    padding-left: 20px;
}
.books img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}

@media (min-width: 600px) {
    .main-nav{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        justify-content: center;
    }
    .books{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .books img{
        grid-row: 1/6;
    }
}   